<!DOCTYPE html>
<html lang = "en">
<head>
 <meta charset= "UTF-8">
 
 <meta name="viewport" content="Width=Device-width,initial-scale=1.0">
 <link rel="stylesheet" type="text/css" href="style.css">
 <title>Form Data</title>

</head>
<body>
   <nav>
   	<ul>
   		<li><a href="/">Home</a></li>
   		<li><a href="/form">Form</a></li>
   		<li><a href="https://facebook.com">About</a></li>
   		
   	</ul>
   </nav>


		