<% include partials/header %>

	<h1>Goal Setter</h1>
	<form method =  "post" action = "/form">
	<label for ="Goal">Name</label>
	 <input type ="text" placeholder = "Set Your Goal" name="title">
	 <input type = "submit" name = "submit">
	</form>

<% include partials/footer %>